<nav class="navbar">
    <ul class="nav navbar-nav">
        <li>
            <a href ng-click="toggleShowGraph()" class="muted" ng-class="{'active':!!showGraph}"><i class="fa fa-code-fork"> &nbsp;</i>Diagram</a>
        </li>
        <li ng-show="project.projectKind=='voice'"><a ng-click="signalShowWebTrigger()" class="rvd-clickable-text muted">{{'designerWebTriggerLink' | translate}}</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle muted" data-toggle="dropdown">{{'designerExportLink' | translate}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href='#/packaging/{{applicationSid}}={{projectName}}'><i class='fa fa-shopping-cart'></i>&nbsp;&nbsp;&nbsp;{{'designerApplicationStoreLink' | translate}}</a></li>
                <li><a href ng-click='signalDownloadZip()'><i class='fa fa-download'></i>&nbsp;&nbsp;&nbsp;{{'designerZipFileLink' | translate}}</a></li>
            </ul>
        </li>
        <li><a class='rvd-clickable-text muted' ng-click='signalSavePressed()'><i ng-hide="saveSpinnerShown" class='fa fa-save'></i><i ng-show="saveSpinnerShown" class="fa fa-spinner fa-spin"></i> &nbsp; {{'designerSaveLink' | translate}}</a></li>
        <li class='rvd-appurl muted' ng-show="startNodeSet(project)"><a target="_blank" href='{{getStartUrl()}}'>{{'designerAppUrlLink' | translate}}</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle muted" data-toggle="dropdown" title="{{'designerProjectSettingsTitle' | translate}}"><i class="fa fa-cog"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a ng-click="signalShowProjectSettings()" class="rvd-clickable-text">{{'designerProjectSettingsLink' | translate}}</a></li>
                <li ng-show="getProjectSettings().logging"><a href="#/designer/{{applicationSid}}={{projectName}}/log" target="_blank" class="rvd-clickable-text disabled">{{'designerApplicationLogLink' | translate}}</a></li>
                <li ng-hide="getProjectSettings().logging" class="disabled"><a>{{'designerApplicationLogLink' | translate}}</a></li>
            </ul>
        </li>
    </ul>
</nav>

