<div class="navbar" role="navigation">

    <img class="logo" src="images/restcomm-v-d-logo.png"/>
    <nav class="header-menu collabse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right" ui-view="authmenu"></ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" ng-controller="translateController">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{'indexSwitchLanguageTitle' | translate}}"><i class="fa fa-language"></i></a>
                <ul class="dropdown-menu">
                    <li><a class="rvd-clickable-text" ng-click="changeLanguage('en-US')"><i ng-show="getCurrentLanguage()=='en-US'" class="fa fa-check"></i> en-US</a></li>
                    <li><a class="rvd-clickable-text" ng-click="changeLanguage('pt-BR')"><i ng-show="getCurrentLanguage()=='pt-BR'" class="fa fa-check"></i> pt-BR</a></li>
                    <li><a class="rvd-clickable-text" ng-click="changeLanguage('es')"><i ng-show="getCurrentLanguage()=='es'" class="fa fa-check"></i> es</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</div>
