<div class="start-new-project-title">{{'homeStartLabel' | translate}}</div>

<div class="row">
	<div class="col-md-5 col-centered">
		<!--<h3 class="text-center">Existing projects</h3> -->
		<br/><br/>
		<div class="row">
			<div class="col-md-4 text-center project-icon-area">
				<a href="#/project-manager/voice">
					<img src="images/voice-btn.png" class="project-icon project-voice" title="{{'homeVoiceLabel' | translate}}"/>
				</a>
			</div>
			<div class="col-md-4 text-center project-icon-area">
				<a href="#/project-manager/ussd">
					<img src="images/ussd-btn.png" class="project-icon project-ussd" title="{{'homeUssdLabel' | translate}}"/>
				</a>
			</div>
			<div class="col-md-4 text-center project-icon-area">
				<a href="#/project-manager/sms">
					<img src="images/sms-btn.png" class="project-icon project-sms" title="{{'homeSMSLabel' | translate}}"/>
				</a>
			</div>

		</div>
	</div>
</div>

