<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12">
        <h3 class="section-title">{{'loginLoginLabel' | translate}}</h3>

        <form id="login-form" name="loginForm">
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label class="rvd-label" for="login-inputAccSID">{{'loginEmailLabel' | translate}} / {{'loginAccountLabel' | translate}}</label>
                    <input id="login-inputAccSID" type="text" class="form-control slick-input " placeholder="{{'loginLoginPlaceholder' | translate}}" ng-model="username" required autofocus />
                </div>
                <div class="col-xs-12 form-group">
                    <label class="rvd-label" for="login-inputAuthToken">{{'loginPasswordLabel' | translate}}</label>
                    <input id="login-inputAuthToken" type="password" class="form-control slick-input" placeholder="{{'loginPasswordPlaceholder' | translate}}" ng-model="password" required />
                </div>
                <div class="col-xs-12 form-group">
                    <div class="pull-right">
                        <button class="btn btn-default" type="reset">{{'loginClearButton' | translate}}</button>
                        <button class="btn btn-primary" ng-click="doLogin(username, password)">{{'loginLoginButton' | translate}}</button>
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>
