<div class="dropdown project-menu pull-right">
    <button class="btn btn-link dropdown-toggle project-menu-button" title="{{applicationSid}}">{{application.friendly_name}} <b class="caret"></b></button>
    <ul class="dropdown-menu project-dropdown-menu">
        <li ng-show="parametersResponse.parameters.length > 0">
            <a href ng-click="showParameters()" class="muted">Parameters</a>
        </li>
        <li>
            <a href id="designer-diagram-toggle" ng-click="toggleShowGraph()" class="muted" ng-class="{'active':!!showGraph}">Diagram</a>
        </li>
        <li ng-show="projectKind=='voice'"><a id='wt-show-button' ng-click="signalShowWebTrigger()" class="rvd-clickable-text muted">{{'designerWebTriggerLink' | translate}}</a></li>
        <li><a vd-report="click" class="muted" target="_blank" href='services/apps/{{applicationSid}}/controller'>{{'designerAppUrlLink' | translate}}</a></li>
        <li><a ng-click="signalShowProjectSettings()" class="rvd-clickable-text">{{'Settings' | translate}}</a></li>
        <li><a id="log-open-button" href="#/designer/{{applicationSid}}/log" target="_blank" class="rvd-clickable-text disabled">{{'Log' | translate}}</a></li>
        <!--
        <li ng-hide="getProjectSettings().logging" class="disabled"><a>{{'Log' | translate}}</a></li>
        -->

        <li class="divider"></li>
        <li class="dropdown-header project-menu-username">{{authInfo.username}}</li>
        <li ng-show="!!authInfo.username"><a class="rvd-clickable-text" ng-click="showSettingsModal()" >{{'Account Settings' | translate}}</a></li>
        <li class="dropdown-header">Languages</li>
        <li><a class="rvd-clickable-text" ng-click="changeLanguage('en-US')"><i ng-show="getCurrentLanguage()=='en-US'" class="fa fa-check"></i> en-US</a></li>
        <li><a class="rvd-clickable-text" ng-click="changeLanguage('pt-BR')"><i ng-show="getCurrentLanguage()=='pt-BR'" class="fa fa-check"></i> pt-BR</a></li>
        <li><a class="rvd-clickable-text" ng-click="changeLanguage('es')"><i ng-show="getCurrentLanguage()=='es'" class="fa fa-check"></i> es</a></li>

    </ul>
</div>
