<div class="module-url-picker">
    <input readonly style='background-color: white;' ng-show="type=='module'" required type="text" class="form-control">
    <input ng-show="type=='url'" ng-model="callbackUrl" required type="text" class="form-control" placeholder="http://">
    <div ng-show="type=='module'" class="dropdown module-list">
        <span ng-show='!moduleName' class="btn-link dropdown-toggle text-muted">-- no module --</span>
        <span ng-show="moduleName" class="btn-link dropdown-toggle">{{moduleName}}</span>
        <ul class="dropdown-menu" >
            <li><a ng-click='setModule()'><span class="text-muted">-- no module --</span></a></li>
            <li ng-repeat="module in moduleList"><a  ng-click="setModule(module)" class="rvd-clickable-text">{{module}}</a></li>
        </ul>
    </div>

    <div class="dropdown picker-type">
        <small ng-show="type=='module'" class="btn-link dropdown-toggle var-scope" title="continue to an application module">module</small>
        <small ng-show="type=='url'" class="btn-link dropdown-toggle var-scope" title="continue to a URL">URL</small>
        <!--<small class="text-muted">{{varScope ? varScope : ""}}</small>-->
        <ul class="dropdown-menu">
            <li><a ng-click="setType('module')" class="rvd-clickable-text">Module</a></li>
            <li><a ng-click="setType('url')" class="rvd-clickable-text">URL</a></li>
        </ul>
    </div>
</div>
