<div class="module-url-picker">
    <input readonly style='background-color: white;' ng-show="activeType=='module'" type="text" class="form-control" title="choose a module form the list">
    <input ng-show="activeType=='url'" ng-model="callbackUrl" type="text" class="form-control" title="type a url" placeholder="http://...">
    <div ng-show="activeType=='module'" class="dropdown module-list">
        <span ng-show='!callbackModule' class="btn-link dropdown-toggle text-muted">-- {{'noModuleSelected' | translate}} --</span>
        <span ng-show="callbackModule" class="btn-link dropdown-toggle">{{getNode(callbackModule).label}}</span>
        <ul class="dropdown-menu" >
            <li><a ng-click='setModule()' class="rvd-clickable"><span class="text-muted">-- no module --</span></a></li>
            <li ng-repeat="module in modules"><a  ng-click="setModule(module)" class="rvd-clickable-text">{{module.label}}</a></li>
        </ul>
    </div>

    <div ng-if='type=="any"'  class="dropdown picker-type">
        <small ng-show="activeType=='module'"  class="btn-link dropdown-toggle var-scope" ng-class="{'switcher-inactive':false}" title="{{'pickAModule' | translate}}">module</small>
        <small ng-show="activeType=='url'" class="btn-link dropdown-toggle var-scope" ng-class="{'switcher-inactive':false}" title="{{'typeAUrl' | translate}}">URL</small>
        <!--<small class="text-muted">{{varScope ? varScope : ""}}</small>-->
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a ng-click="setActiveType('module')" class="rvd-clickable-text" title="{{'pickAModule' | translate}}">{{'module' | translate}}</a></li>
            <li><a ng-click="setActiveType('url')" class="rvd-clickable-text" title="{{'typeAUrl' | translate}}">URL</a></li>
        </ul>
    </div>
</div>
